body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  /*some changes*/
  border: 1px solid #ffffff;
  border-radius: 3px;
  margin: 2px;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 50;

}
.side-panel{
  background-color: #000000;
  width: 15px;

}

.center{
  width: 100%; 
  margin-right:0px; 

}

.container-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  


}


.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 2px;
  display: inline-block;
  clear:both;
  float:left;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;

}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.pre-img {
  height: 300px;
  width: 375px;
  margin-right: 20px;
  margin-bottom: 16px;
  clear:both;
  float:left;
  border: 2px solid #dddddd;
  border-radius: 3px;
  padding: 5px;
}
.post-img {
  height: 1500px;
  width: 150px;
  margin-right: 20px;
  margin-bottom: 16px;
  clear:both;
  float:left;
}

.img-responsive{
  display: block;
  max-width: 20%;
  height: 20%;
}

.account-heading {
  font-size: 2.5rem;
}


.slider-holder
{
  width: 800px;
  height: 400px;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: 40px;
  text-align: center;
  overflow: hidden;
  box-shadow: 10px 10px 5px grey;
  }
        
.image-holder
{
  width: 2400px;
  background-color: red;
  height: 400px;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}
        
.slider-image
{
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  height: 400px;
  width: 800px;
}
        
#slider-image-1:target ~ .image-holder
{
  left: 0px;
}
        
#slider-image-2:target ~ .image-holder
{
  left: -800px;
}
        
#slider-image-3:target ~ .image-holder
{
  left: -1600px;
}
        
.button-holder
{
  position: relative;
  top: -20px;
}
        
.slider-change
{
display: inline-block;
height: 10px;
width: 10px;
border-radius: 5px;
background-color: white;
}