arrow==0.15.6
asgiref==3.2.7
certifi==2020.4.5.1
chardet==3.0.4
dateparser==0.7.4
Django==3.0.6
humanize==2.4.0
idna==2.9
loguru==0.4.1
maya==0.6.1
numpy==1.18.4
pandas==1.0.3
pendulum==2.1.0
pyarrow==0.17.0
pyspark==2.4.5
python-dateutil==2.8.1
pytz==2020.1
pytzdata==2019.3
regex==2020.5.13
requests==2.23.0
six==1.14.0
snaptime==0.2.4
sqlparse==0.3.1
stravaio==0.0.9
stravalib==0.10.2
tzlocal==2.1
units==0.7
urllib3==1.25.9
